{
    "presets": [
        "es2015",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-flow-strip-types",
        [
            "transform-regenerator", {
                "async": false
            }
        ],
        [
            "transform-runtime", {
                "helpers": false,
                "polyfill": false,
                "regenerator": true
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "nuri": "./src/_/external/nuri"
                },
                "cwd": "babelrc"
            }
        ]
    ]
}
